.object-new mat-form-field {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

}
.new-object-card {
  position: relative;
  max-width: 800px;
  margin: auto;
  background-color: #E8F0F6;
}
mat-card-content {padding-top: 20px;}
